{%extends "base.html"%} {%block title %}
<title>Camphub Directions</title> {%endblock%}
<!-- page content here -->

{%block content%}
<!--  -->

<h3 class="pg-header">
  What are the differences between WordPress and Camphub?
</h3>

<div id="direction" class = "shadow">

  <div class="diff-sections">
    <div>
      <h4 class="pg-header">Articles and Posts</h4>
        <p>
          When using WordPress, article topics are created by the moderator only.
          Users are only permitted to make comments under those articles.
        </p>
          <p>
            Here, Camphub-users are provided the option to view and comment on
            WordPress article posts, in addition to creating their own posts within
            this application. This allows for more topics and further community
            interaction. You're welcome to post discussion items, questions, or
            topics you would like to receive feedback on. If you would like to
            discuss a topic but do not feel comfortable posting about it, you may
            complete the
            <a href="/suggesttopic">suggest a topic</a> form and the CampHub
            moderator will create the post on your behalf. No names/user details
            will be shared.
          </p>
    </div>

    <div>
      <h4 class="pg-header">Comments</h4>
        <p>WordPress only allows comments from WordPress users.</p>
          <p>
            Here, Camphub-users may respond to WordPress articles. Those comments
            will only exist here, in Camphub. They are not published to WordPress,
            so no wordPress account is required, and you remain within this
            community with further flexibility than WordPress.
          </p>
    </div>
  </div>

  <div class="diff-sections">
    <p>To join CampHub WordPress
      <i
        ><a href="https://wordpress.com/camphub/home/camphub2022" target="_blank"
          >click here</a
        ></i
    >.</p>
  </div>
</div>

<!-- do not touch below -->
{%endblock%}
