{%extends "base.html"%} {%block title %}
<title>Edit profile</title> {%endblock%}
<!-- page content here -->

{%block content%} {% if g.user%}
<!--  -->

<div id="profile-edit-form">
  <h1 class="page-title" id="signup-title">Edit Profile</h1>
  <br />
  <form action="/edit/profile/{{user.id}}" , method="post">
    <!--come back and style the form - leaving to work on functionality for now  -->

    {{form.hidden_tag()}} {%for field in form if field.widget.input_type !=
    'hidden'%} {{field.label}} {{field}} {%for error in field.errors%}
    {{error}}{%endfor%} {%endfor%}
    <button type="submit">Update</button>
  </form>
</div>

<a href="/delete/user/{{user.id}}">Delete Account</a>
<br />

<a href="/home/{{user.id}}">Cancel</a>

{%else%}
<p>Please create an account or sign in to view posts.</p>
<a href="/signup">Sign Up</a>
{%endif%}
<!-- do not touch below -->
{%endblock%}
