{%extends "base.html"%} {%block title %}
<title>Edit profile</title> {%endblock%}
<!-- page content here -->

{%block content%}
<!--  -->


<h1 class="pg-header">Update Profile</h1>
<div id="profile-edit-form-div">
  <br />

  <img src="{{user.profile_image_url}}" alt="" class = "img-thumbnail rounded-circle float-start profile-pic" style = "height: 10%">
  

  <form
    action="/camphub/edit/profile/{{g.user.id}}"
    id="edit-profile-form"
    ,
    method="post"
  >
    <!--come back and style the form - leaving to work on functionality for now  -->

    {{form.hidden_tag()}} 
    {%for field in form if field.widget.input_type !='hidden'%} 
    {{field.label (class = "field-label")}} 
    {{field}} 
    
    {%for error in field.errors%} 
    {{error}} 
    {%endfor%}
    
    {%endfor%}
    <button type="submit" id="profile-button">Update</button>
  </form>

</div>
<br />

<div id="delete-acct-div">
  <form action="/camphub/delete/user/{{g.user.id}}" , method="post">
    <p id="delete-zone">Danger Zone:</p>
      <button id="del-acct-button">Delete Account</button>
  </form>
</div>

<!-- do not touch below -->
{%endblock%}
