{%extends "base.html"%} {%block title %} <title>Login</title> {%endblock%}
<!-- page content here -->

{%block content%}

<!--  -->

<div id="login-form">
  <h1 class="page-title" id="signup-title">Login</h1>
  <br />
  <form action="/login" , method="post">
    <!--come back and style the form - leaving to work on functionality for now  -->

    {{form.hidden_tag()}} {%for field in form if field.widget.input_type !=
    'hidden'%} {{field.label}} {{field}} {%for error in field.errors%}
    {{error}}{%endfor%} {%endfor%}
    <button type="submit">Login</button>
  </form>
</div>

<!-- do not touch below -->
{%endblock%}
