{%extends "base.html"%} {%block title %} <title>Sign Up</title> {%endblock%}
<!-- page content here -->

{%block content%}

<!--  -->

<div id="register-form">
  <h1 class="page-title" id="signup-title">Join CampHub</h1>

  <div id="notice-to-user">
    <h2>Notice to User:</h2>
    <p>ADD SOMETHING ABT HOW THE WEBSITE WORKS / WORDPRESS</p>
  </div>

  <br />
  <form action="/signup" , method="post">
    <!--come back and style the form - leaving to work on functionality for now  -->

    {{form.hidden_tag()}} {%for field in form if field.widget.input_type !=
    'hidden'%} {{field.label}} {{field}} {%for error in field.errors%}
    {{error}}{%endfor%} {%endfor%}
    <button type="submit">Create Account</button>
  </form>
</div>

<!-- do not touch below -->
{%endblock%}
