{%extends "base.html"%} {%block title %} <title>Suggest a Topic</title> {%endblock%}
<!-- page content here -->

{%block content%} 

<h1 class = "pg-header">Suggest an Article Topic for the Moderator</h1>
<form action="/camphub/{{g.user.id}}/see/suggestions" class = "mt-2 my-3">
  <button id="see-suggestions" class = "mt-2">See what has already been suggested</button>
</form>

<form action = "/camphub/{{g.user.id}}/suggest/topic" method="post"  class = "suggest-ch-article-form" >

  {{form.hidden_tag()}} 
  {%for field in form if field.widget.input_type != 'hidden'%}

  {{field.label (class = "post-field") }} 
  {{field}} 
  
  {%for error in field.errors%}
  {{error}}
  {%endfor%}
  
  {%endfor%}
  <button type="submit" class = "comment-button">Request Topic</button>
</form>

</div>

  <!-- do not touch below -->
  {%endblock%}
