{%extends "base.html"%} {%block title %}
<title>Create New Blog</title> {%endblock%}
<!-- page content here -->

{%block content%} {% if g.user%}
<!-- NO NEW BLOGS CAN BE CREATED DUE TO KEY RESTRAINT -->

<h1>Create a New Blog</h1>
<div>
  <p>Add what you would like to here.</p>
  <p>
    Note: Blogs are the umbrella term for a space to communicate/connect. Posts
    are topics for discussion. Users should create comments on posts within a
    blog.
  </p>
</div>
<div>
  <form method="post">
    <!--come back and address the route  -->

    {{form.hidden_tag()}} {%for field in form if field.widget.input_type !=
    'hidden'%} {{field.label}} {{field}} {%for error in field.errors%}
    {{error}}{%endfor%} {%endfor%}
    <button type="submit">Post</button>
  </form>
</div>

{%else%}
<p>Please create an account or sign in to create a blog.</p>
<a href="/signup">Sign Up</a>
{%endif%}

<!-- do not touch below -->
{%endblock%}
