/* article page styles for posts and comments */

/* article_routes/articles.html */
.pg-header,
#comment-header {
  text-align: center;
  margin-top: 30px;
}

.wp-article {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
  color: whitesmoke;
  margin-bottom: 10%;
}

.article-option-div {
  text-align: center;
  justify-content: center;
  display: flex;
  direction: row;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  color: black;
}

.art-option {
  display: flex;
  direction: row;
  margin: 10px;
  color: black;
}

/* CREATE NEW COMMENT: new_comment.html*/

#chosen-article {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
  margin-bottom: 5%;
}

#comment-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
  border: 2px solid whitesmoke;
  border-radius: 3px;
}

.comment-button:hover {
  background-color: #004679;
  color: whitesmoke;
}

/* styling for wp_in_app_routes/single_article.html */

.type-of-comment {
  font-size: 24px;
  text-align: center;
}

.wordpress-comments {
  text-align: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
  margin-bottom: 10%;
}

.ch-comments {
  text-align: left;
  /* justify-content: left; */
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
  margin-bottom: 10%;
}

.ch-comment-option-div {
  text-align: center;
  justify-content: center;
  display: flex;
  direction: row;
  border: 2px solid whitesmoke;
  border-radius: 3px;
}

.comment-opt {
  display: flex;
  direction: row;
  margin: 10px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
