#info-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* color: rgba(14, 54, 56, 0.589); */
  /* color: black; */
  size: 4rem;
  /* background-color: rgba(182, 231, 233, 0.767); */
  text-align: left;
  height: 87%;
}

a:link,
a:visited,
a:active {
  color: whitesmoke;
  text-decoration: none;
  /* border: 1px solid whitesmoke;
  border-radius: 3px; */
}

a:hover {
  color: antiquewhite;
}

ul {
  list-style: none;
}

#breakdown-route-div {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bd-link {
  font-style: italic;
}

.landing-options {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin: 10px;
  padding: 4px;
  text-align: center;
  font-style: normal;
}

.bd-link:hover {
  color: rgba(182, 231, 233, 0.767);
}
