/* INCLUDES DIRECTION CSS AS WELL- MARKED BELOW  */

#home-title {
  text-align: center;
  margin-top: 40px;
  color: whitesmoke;
}

#user-options {
  display: flex;
  flex-direction: column;
  size: 3rem;
  border-radius: 10px;
  padding: 25px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.option-div {
  margin: 20px;
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

#option {
  /* rgba(182, 231, 233, 0.767); */
  background-color: transparent;
  border: 2px solid whitesmoke;
  margin-bottom: 50%;
  border-radius: 3px;
  color: whitesmoke;
  width: 900px;
  max-width: 100%;
  height: 100px;
  text-align: center;
  margin: 20px;
}

#option:hover {
  background-color: whitesmoke;
  color: #2e5563;
}

#dir-title {
  text-align: center;
  text-decoration: underline;
}

#direction {
  margin: auto;
  text-align: center;
  margin-top: 70px;
}

h4,
h5 {
  font-size: 18px;
}
