/* All user post route styling  */

/* user_post_routes/all_posts.html */

.post-header {
  text-align: center;
  margin-top: 30px;
}

#user-post-routing {
  display: flex;
  direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.route-option {
  margin: 10px;
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
}

.user-post {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
  margin-bottom: 10%;
}

.post-route-options {
  text-align: center;
  justify-content: center;
  display: flex;
  direction: row;
  border: 2px solid whitesmoke;
  border-radius: 3px;
}

.post-option {
  display: flex;
  direction: row;
  margin: 10px;
  justify-content: center;
}

.delete-button {
  position: relative;
  float: right;
  margin-top: -45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: whitesmoke;
}

/* /user_post_routes/create_post.html */

#post-form {
  margin: 0;
  bottom: 40%;
  left: 50%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 60%;
  size: 3rem;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 12px;
}

.post-field {
  padding: 12px;
  margin: 10px;
  font-size: large;
}

#new-post-button:hover {
  background-color: #004679;
  color: whitesmoke;
}

/* user_post_routes/new_comment.html */

.diff-sections,
#post-for-comment {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
}

#new-ch-comment-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
  border: 2px solid whitesmoke;
  border-radius: 3px;
}

/* /user_post_routes/single_post.html */

#user-comments-header {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.camphub-comments {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: #004679;
  margin-bottom: 10%;
}


.pending-suggestion,
.suggest-ch-article-form {
  margin: 0;
  bottom: 40%;
  left: 50%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 60%;
  size: 3rem;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 20px;
}

.edit-button {
  position: relative;
  float: right;
  margin-top: -30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: whitesmoke;
}

#see-suggestions{
  background-color: whitesmoke;
  color:  #004679;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin: auto;
}

.suggest-article{
  background-color: whitesmoke;
  color:  #004679;
  width: 100%;
}

.suggest-article:hover{
  background-color: #004679;
  color:  whitesmoke
}