{%extends "base.html"%} {%block title %} <title>New Comment</title> {%endblock%}
<!-- page content here -->

{%block content%} {% if g.user%}

<div>
  <h1>{{article.title}}</h1>
  <p><small> Published by: {{article.author.nice_name}} on {{article.date}}</small></p>
  <a href="{{article.URL}}">Link to Webpress Article</a>
  <blockquote>
    {{article.content}}
  </blockquote>
  
  </div>

<div>
<h2>Create a New Comment</h2>

<form action = "/create/comment/{{article_id}}" method="post" >

  {{form.hidden_tag()}} 
  {%for field in form if field.widget.input_type != 'hidden'%}
  {{field.label}} 
  {{field}} 
  
  {%for error in field.errors%}
  {{error}}{%endfor%} {%endfor%}
  <button type="submit">Post</button>
</form>

</div>

<a href="/wordpress/articles/all">Return to Worpress Articles</a>

</div>
  <!-- not auth user -->
  {%else%}
  <p>Please create an account or sign in to view blogs.</p>
  <a href="/signup">Sign Up</a>
  {%endif%}

  <!-- do not touch below -->
  {%endblock%}
</div>
