{%extends "base.html"%} {%block title %}
<title>Wordpress Article</title> {%endblock%}
<!-- page content here -->

{%block content%}

<h1 class="pg-header">{{article.title}}</h1>
<div class="wp-article">
  <p>
    <small>
      Published by: {{article.author.nice_name}} on {{article.date}}
    </small>
  </p>
  <p>
      <a href="{{article.URL}}">Link to Webpress Article</a>
  </p>
  
  <blockquote>{{article.content|safe}}</blockquote>

  <div class="article-option-div">
    <a href="/camphub/create/comment/{{article.ID}}" class="art-option">Add Comment</a>
    <a href="https://wordpress.com/camphub/home/camphub2022" class="art-option"
      >Make a Wordpress Comment</a>
      <a href="/wordpress/articles/all" class="art-option">All WordPress Articles</a>
  </div>
</div>

<div>
  <h1 class="type-of-comment">WordPress Comments</h1>
  {% if replies %} 
  {% for rep in replies%}

  <div class="wordpress-comments">
    <p>
      <small>Published by: {{rep.author.name}}</small>
      <br />
      <small>Date and Time Published: {{rep.date}}</small>
    </p>
    <blockquote>{{rep.content|safe}}</blockquote>
  </div>
  {% endfor %} 
  
  {%else%}

  <div class="wordpress-comments">
    <h2>No Wordpress comments, yet!</h2>
  </div>
  {% endif %}



  <h2 class="type-of-comment">CampHub Comments</h2>


    {% if user_comments_on_WP_article%} 
    
    {% for comment in user_comments_on_WP_article %}
    <div class = "ch-comments">

      <p>
        <small>Published by: 
          <a href="/camphub/{{comment.user_id}}/profile">{{comment.users.username}}</a>
          </small>
        <br />
        <small>Date and Time Published: {{comment.date_time}}</small>
      </p>

      <!-- If NOT comment creator render like/unlike options -->
      {% if g.user.id != comment.user_id%}

      {% if comment in g.user.ch_article_comment_likes %}
      <form action = "/wordpress/{{g.user.id}}/update/{{comment.id}}/like" method = "POST" >
        <button class = "my-1 bg-transparent border-0" type = "submit" method = "POST"> 
          <i class="fa-solid fa-heart"></i>
        </button>

    </form>

      {% else %}

      <form action = "/wordpress/{{g.user.id}}/update/{{comment.id}}/like" method = "POST" >
        <button class = "my-1 bg-transparent border-0" type = "submit"> 
          <i class="fa-regular fa-heart"></i>
        </button>
    </form>
    {% endif %}
    {%endif%}      

    <blockquote>{{comment.user_comment}}</blockquote>



    {% if g.user.id == comment.user_id%}
    <div class = "ch-comment-option-div" >
      <form
        action="/wordpress/edit/{{comment.wordpress_article_id}}/{{comment.id}}"
      >
        <button class = "comment-opt" >Edit Comment</button>
      </form>
      <form
        action="/wordpress/delete/{{comment.wordpress_article_id}}/{{comment.id}}"
        method="post"
      >
        <button class="comment-opt">
          Delete Comment <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    {%endif%}


  </div>
  {%endfor%} 

  {% else %}

  <div class="ch-comments">
    <h1>No CampHub comments, yet!</h1>
    <div class="article-option-div">
      <a href="/camphub/create/comment/{{article.ID}}" class="art-option"
        >Add Comment</a
      >
    </div>
  </div>

  {% endif %}
</div>


  <!-- do not touch below -->
  {%endblock%}

