{%extends "base.html"%} {%block title %} <title>Camphub User Posts</title> {%endblock%}
<!-- page content here -->

{%block content%} {% if g.user%}


<div>
<h1>{{article.title}}</h1>
<p><small> Published by: {{article.author.nice_name}} on {{article.date}}</small></p>
<a href="{{article.URL}}">Link to Webpress Article</a>
<blockquote>
  {{article.content}}
</blockquote>

</div>

<div>
<h1>{% if replies.comments %}</h1>
{% for rep in replies%}
<div>
<p><small>Published by: {{rep.author.name}} on {{rep.date}}</small></p>
<blockquote>{{rep.raw_content}}</blockquote>
</div>
{% endfor %}
<div>
  <h2>Add a Comment</h2>
</div>
<a href="/create/comment/{{article.ID}}">Make a Comment</a>
<a href="https://wordpress.com/home/camphub2022">Make a Wordpress Comment</a>
</div>

<div>
  <a href="/create/comment/{{article.ID}}">Make a Comment</a>
  <a href="https://wordpress.com/home/camphub2022">Make a Wordpress Comment</a>
</div>

{%else%}

<h2>No Wordpress comments, yet! </h2>


<div>
  <a href="/create/comment/{{article.ID}}">Make a Comment</a>
  <a href="https://wordpress.com/home/camphub2022">Make a Wordpress Comment</a>
</div>
{% endif %}

<h2>CampHub Comments</h2>

<div>
  {% if user_comments_on_WP_article%}
  {% for comment in user_comments_on_WP_article %}
  <div>
  <p><small>Published by: {{comment.users.username}}</small></p>
  {% if g.user.id == comment.user_id%}
  <a href="/wordpress/delete/{{comment.wordpress_article_id}}/{{comment.id}}"> Delete Comment <i class="fa fa-trash" aria-hidden="true"></i></a>
  {%endif%}
  <blockquote>{{comment.user_comment}}</blockquote>
</div>
{%endfor%}
</div>

<div>
  <a href="/create/comment/{{article.ID}}">Make a Comment</a>
  <a href="https://wordpress.com/home/camphub2022">Make a Wordpress Comment</a>
</div>
{% else %}

<h1>No Camphub comments, yet!</h1>

<div>
  <a href="/create/comment/{{article.ID}}">Make a Comment</a>
  <a href="https://wordpress.com/home/camphub2022">Make a Wordpress Comment</a>
</div>

{% endif %}
  <!-- not auth user -->
  {%else%}
  <p>Please create an account or sign in to view blogs.</p>
  <a href="/signup">Sign Up</a>
  {%endif%}

  <!-- do not touch below -->
  {%endblock%}
</div>