{%extends "base.html"%} {%block title %}
<title>Post Comments</title> {%endblock%}
<!-- page content here -->

{%block content%} {% if g.user%}
<!-- NO NEW BLOGS CAN BE CREATED DUE TO KEY RESTRAINT -->

<h1>{{Title}}</h1>
<div id="post-content">
  <p><small>{{author}}</small></p>
  <p>{{content}}</p>
</div>

<h2>Comments:</h2>
{% if comment_content%} {% for comment in comment_content%}
<div class="comment-section">
  <p id="{{comment_id}}">{{comment}}</p>

  {% if g.user.id == comment.user_id %}
  <a href=""> Delete <i class="fa fa-trash" aria-hidden="true"></i></a>
  {%endif%}
</div>

<a href="/">Home</a>

{%endfor%} {%else%}

<div class="comment-section"><p>No comments yet!</p></div>
<a href="/create/comment">Add Comment Here</a>

<br />

<a href="https://wordpress.com/home/camphub2022" target="_blank">
  Add Comment through your Wordpress Account</a
>
{%endif%}

<!-- do not touch below -->
{%endblock%}
