<!DOCTYPE html>
<html lang="en">
  <head>
    {%block head%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    /> -->

    <!-- stylesheets -->
    <link rel="stylesheet" href="/static/base.css" />
    <!-- <link rel="stylesheet" href="/static/landingPage.css" /> -->
    <link rel="stylesheet" href="/static/breakdown.css" />
    <link rel="stylesheet" href="/static/signupAndLogin.css" />
    <!-- <link rel="stylesheet" href="/static/home.css" /> -->
    <link rel="stylesheet" href="/static/articlePages.css" />
    <link rel="stylesheet" href="/static/userPosts.css" />

    <!-- Fontaweseome -->
    <script
      src="https://kit.fontawesome.com/6841f9c719.js"
      crossorigin="anonymous"
    ></script>
    <!-- title -->
    {%block title%}
    <title>CampHub</title>
    {%endblock%} {%endblock%}
  </head>
  <body>
    <!-- for all pages -->

    <!-- NAV BAR-->
    {% if not g.user %}
    <nav id="nav-area" >
      <form action="/signup" class="form-inline" method="get">
        <button id="sin-button" class="btn btn-outline-success" type="submit">
          Sign up
        </button>
        </form>
        <form action="/login" class="form-inline" method="get">
          <button
            id="sup-button"
            class="btn btn-sm btn-outline-secondary"
            type="submit"
          >
            Log in
          </button>
        </form>
        <p id="app-icon">
          <a href="/" id="logo">CampHub</a>
          <i class="fa-solid fa-campground"></i>
        </p>
      </form>
    </nav>
    {%else%}
    <!-- the user is signed in -->
    <!-- routes are not set up- this is for visuals rn -->
    <nav id="nav-area" class="navbar navbar-light bg-light .ml-auto">
      <form action="/home/{{g.user.id}}" class="form-inline" method="get">
        <button
          id="sin-button"
          class="btn btn-sm btn-outline-secondary"
          type="submit"
        >
          Home
        </button>
      </form>
    
        <form
          action="/edit/profile/{{g.user.id}}"
          class="form-inline"
          method="get"
        >
          <button
            id="sin-button"
            class="btn btn-sm btn-outline-secondary"
            type="submit"
          >
            Profile
          </button>
        </form>

        <form action="/logout" class="form-inline" method="get">
          <button id="sin-button" class="btn btn-outline-success" type="submit">
            Logout
          </button>
          </form>
        
        <!-- add branding here -->
        <p id="app-icon">
          <a href="/" id="logo">CampHub</a>
          <i class="fa-solid fa-campground"></i>
        </p>
    </nav>
    {%endif%}
    <!-- end nav -->

    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %} {% if messages %}

    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }} flash-message-div">
        {{ message}}</div>
      {% endfor %}
    {% endif %} {% endwith %}
    <!--  -->


    <!-- body content -->
    {%block content%}
    <!-- add other pg stuff here -->

    <div id="page-content"></div>

    {%endblock%}
    <!-- Scripts for Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
