<!DOCTYPE html>
<html lang="en">
  <head>
    {%block head%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel=”stylesheet”
    href=”https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css”
    integrity=”sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2”
    crossorigin=”anonymous”>
    <script
      src="https://kit.fontawesome.com/6841f9c719.js"
      crossorigin="anonymous"
    ></script>
    <!-- title -->
    {%block title%}
    <title>CampHub</title>
    {%endblock%} {%endblock%}
  </head>
  <body>
    <!-- for all pages -->
    <p id="app-icon">
      CampHub
      <i class="fa-solid fa-campground"></i>
    </p>

    <!-- NAV BAR-->
    {% if not g.user %}
    <nav id="nav-area" class="navbar navbar-light bg-light">
      <form action="/signup" class="form-inline" method="get">
        <button id="sin-button" class="btn btn-outline-success" type="submit">
          Sign up
        </button>
        <form action="/signin" class="form-inline" method="get">
          <button
            id="sup-button"
            class="btn btn-sm btn-outline-secondary"
            type="submit"
          >
            Sign in
          </button>
        </form>
        <!-- add branding here -->
      </form>
    </nav>
    {%else%}
    <!-- the user is signed in -->
    <!-- routes are not set up- this is for visuals rn -->
    <nav id="nav-area" class="navbar navbar-light bg-light .ml-auto">
      <form action="/logout" class="form-inline" method="get">
        <button id="sin-button" class="btn btn-outline-success" type="submit">
          Logout
        </button>
        <form action="/settings" class="form-inline" method="get">
          <button
            id="sup-button"
            class="btn btn-sm btn-outline-secondary"
            type="submit"
          >
            Settings
          </button>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <!-- add branding here -->
      </form>
    </nav>
    {%endif%}
    <!-- end nav -->

    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <!--  -->

    <!-- body content -->
    {%block content%}
    <!-- add other pg stuff here -->

    <div id="welcome-banner">
      <div></div>
    </div>

    <!-- <p>
      Are you a bootcamp student? Camphub's goal is to assist you in your new
      journey by curating a safe and postive space to connect with other
      students. Here, you can openly discussany any bootcamp related topic -
      from challenges you may face, to networking do's/dont's, and so on.
      Learning new material and breaking into a new industry can be difficult,
      we're here to uplift and support one another on our new journey's!
    </p> -->

    {%endblock%} {% if g.user%}
    <a href="/home/{{g.user.id}}">Home</a>
    {%endif%}
    <!-- Scripts -->
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>
    <script src="/static/base.js"></script>
  </body>
</html>
