<!DOCTYPE html>
<html lang="en">
  <head>
    {%block head%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- stylesheets -->
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/whatIs.css" />
    <link rel="stylesheet" href="/static/signupAndLogin.css" />
    <link rel="stylesheet" href="/static/articlePages.css" />
    <link rel="stylesheet" href="/static/userPosts.css" />

    <!-- Fontaweseome -->
    <script
      src="https://kit.fontawesome.com/6841f9c719.js"
      crossorigin="anonymous"
    ></script>

    <!-- favicon -->

    <!-- <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    /> -->


    <!-- title -->
    {%block title%}
    <title>CampHub</title>
    {%endblock%} {%endblock%}
  </head>
  <body>
    <!-- for all pages -->

    <nav class="navbar navbar-expand py-0 shadow" id="nav-area">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" id="logo" class="navbar-brand nav-text nav-link"
            >CampHub
            <i class="fa-solid fa-campground" id="logo"></i>
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right nav-item">
          {% if not g.user %}

          <ul class="navbar-nav">
            <li>
              <a class="nav-text nav-link nav-item" href="/signup">Signup</a>
            </li>
            <li>
              <a class="nav-text nav-link nav-item" href="/login">Login</a>
            </li>
          </ul>

          {% else %}

          <ul class="navbar-nav">
            <li>
              <a class="nav-text nav-link" href="/camphub/home/{{g.user.id}}">Home</a>
            </li>
            <li>
              <a class="nav-text nav-link" href="/camphub/{{g.user.id}}/view/users">All Users</a>
            </li>
            <li>
              <a class="nav-text nav-link" href="/camphub/{{g.user.id}}/profile"
                >Profile
              </a>
            </li>
            <li>
              <a class="nav-text nav-link" href="/logout">Logout</a>
            </li>
          </ul>

          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-info flash div">{{ message }}</div>
      {% endfor %}
    </div>

    <!-- body content -->
    <div id="bg-image" class="container">{%block content%} {%endblock%}</div>
    <!-- Scripts for Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
