{%extends "base.html"%} {%block title %} <title>Camphub</title> {%endblock%}
<!-- page content here -->

{%block content%}

<!--  -->
<div id="info-div">
  <h1 class = "pg-header">What is CampHub?</h1>

  <p>
    CampHub is the first web site to foster an environemnt where bootcamp
    students (or prospective students) from all fields can come together and
    chat about all things bootcamp related! 
  </p>
  <p>
    Here, you can seek guidance, chat about frustrations, success stories, ask
    technical questions, and more!
  </p>
  <p>There are two ways to interact with CampHub. If you would like to create your own discussion topics you're encouraged to <a href="/signup" class = "bd-link" >create an account</a> here. If you're only looking to interact with the moderator articles and create a WordPress account you may join <a href="https://wordpress.com/home/camphub2022" target = "_blank" class = "bd-link">CampHub Wordpress</a>.</p>

  <div>
    <h3 class = "pg-header">Why was CampHub created?</h3>
      <p>
        During my time as a Peer Organizer I had the pleasure of working with many
        software development students coming from a vast variety of different
        backgrounds and skill levels. It was then that I heard many of the same
        sentiments from the students. These include: 
        <ul>
          <li>"I feel alone."</li>
          <li>"I think the other student's understand and I don't."</li>
          <li>"I'm struggling with this project and don't know what to do."</li>
          <li>"I'm afraid to ask questions"/ "I don't know how to phrase my questions."</li>
      </ul>
    </p>
      <p>
      Then,  I thought... Let's fix that. In an effort to create a positive and uplifting environemnt for students to connect CampHub was created. Here, you can find your way through the bootcamp world whether you're simply thinking about jumping into a bootcamp or a few months in and looking for a network of people just like you.
    </p>
</div>

  <div>
    <h4 class = "pg-header">From the Creator</h4>
      <p>Hello, and thank you for visiting CampHub! My name is Maria, but friends and family call me Maya. I myself am a bootcamp student with a goal of transitioning into software engineering and would love to connect with you here, or through <a href="https://www.linkedin.com/in/maria-lazaro-software-dev/" target = "_blank" class = "bd-link" >LinkedIn</a>. The saying goes, "Nothing in life worth having comes easy." Boy, is this true. The path may be challenging at times, we may even fail sometimes. Remember, failing is a part of the learning process. Keep working on it, you <i>can</i> do this.
        
      <p>I wish you success on your new journey!</p> 
  </div>  

  <div id = "breakdown-route-div">

  <a href="/signup" class="landing-options bd-link" >Signup</a>

  <a href="/login" class="landing-options bd-link" >Login</a>

  <a href="/camphub" class = "landing-options bd-link">Home Page</a>
</div>

</div>
<!--  -->
{%endblock%}
