{%extends "base.html"%} {%block title %}
<link rel="stylesheet" href="/static/landingPage.css" />
<title>Camphub</title> {%endblock%}
<!-- page content here -->

{%block content%}

<!--  -->
<div id="landing-logo">
  <h1 id="logo-alone">CampHub <i class="fa-solid fa-campground"></i></h1>

  <div id="land-option-div">
    <a href="/camphub/breakdown" class="ch-landing-pg-opt">What's Camphub?</a>

    <a href="/signup" class="ch-landing-pg-opt">Sign up</a>

    <a href="/login" class="ch-landing-pg-opt">Login</a>
  </div>
</div>
<!--  -->
{%endblock%}
