{%extends "base.html"%} {%block title %} <title>New Post Comment</title> {%endblock%}
<!-- page content here -->

{%block content%} {% if g.user%}

<div>
  <div id = "post-for-comment">
      <h1>{{post.title}}</h1>
      <p><small>{{post.users.username}}</small></p>
      <blockquote>{{post.content}}</blockquote>

  </div>

<h2>Add Comment</h2>

<form action = "/new/comment/{{post.id}}/{{g.user.id}}" method="post" >

  {{form.hidden_tag()}} 
  {%for field in form if field.widget.input_type != 'hidden'%}
  {{field.label}} 
  {{field}} 
  
  {%for error in field.errors%}
  {{error}}{%endfor%} {%endfor%}
  <button type="submit">Post</button>
</form>

</div>

</div>
  <!-- not auth user -->
  {%else%}
  <p>Please create an account or sign in to view blogs.</p>
  <a href="/signup">Sign Up</a>
  {%endif%}

  <!-- do not touch below -->
  {%endblock%}
</div>