{%extends "base.html"%} {%block title %} <title>New Post Comment</title> {%endblock%}
<!-- page content here -->

{%block content%} 

<h1 class = "pg-header">New Comment on: "{{post.title}}"</h1>

<div>
  <div id = "post-for-comment">
      <p><small>Published by: {{post.users.username}}</small></p>
      <small><p>Published on: {{post.date_time}}</p></small>
      <blockquote>{{post.content}}</blockquote>

  </div>


<form action = "/camphub/create/comment/{{post.id}}/{{g.user.id}}" method="post"  id = "new-ch-comment-form" >

  {{form.hidden_tag()}} 
  {%for field in form if field.widget.input_type != 'hidden'%}

  {{field.label}} 
  {{field}} 
  
  {%for error in field.errors%}
  {{error}}{%endfor%} {%endfor%}
  <button type="submit" class = "comment-button">Post</button>
</form>

</div>

<a href="/camphub/users/posts">Users Posts</a>



  <!-- do not touch below -->
  {%endblock%}
