{%extends "base.html"%} {%block title %} <title>Camphub User Post</title> {%endblock%}
<!-- page content here -->

{%block content%} 

<div>
  <h1 class = "pg-header">{{post.title}}</h1>
  <div class = "user-post">
    <p><small>Published by: {{post.users.username}} on {{post.date_time}}</small></p>

    {% if g.user.id == post.author_id%}
    <form action="/camphub/edit/post/{{post.id}}"><button class="edit-button">Edit Post</button></form>
    <form
    action="/camphub/delete/post/{{post.id}}"
    method="post"
  >
    <button class="delete-button" >
      Delete Post <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </form>
    {%endif%}

    <blockquote>{{post.content}}</blockquote>

    <div class = "post-route-options">
      <a href="/create/comment/{{post.id}}/{{g.user.id}}" class = "post-option">Add Comment</a>
    <a href="/camphub/users/posts" class = "post-option">Return to User Posts</a>


    </div>
  </div>


  <h2 id = "user-comments-header">Comment Section</h2>
  {% if comments%}
  
  {%for comment in comments %}
  <div class = "camphub-comments">

    
    <p><small>Published By: {{comment.users.username}} on {{comment.date_time}}</small></p>

    <blockquote>Comment: {{comment.content}}</blockquote>

    {% if g.user.id == comment.comment_user_id%}


    <!-- the class styling got edit needs to be changed. Update to look like the  -->
    <div class = "ch-comment-option-div">
    <form action="/camphub/edit/{{post.id}}/{{comment.id}}">
      <button class = "comment-opt" type = "submit"> Edit Comment</button>
    </form>
    
    <form
    action="/camphub/delete/{{post.id}}/{{comment.id}}"
    method="post">
    <button type = "submit" class= "comment-opt">
      Delete Comment <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
  </form>



  {%endif%}
    

  </div>
  {% endfor%}
  

  {%else%}

  <div class = "camphub-comments">
    <h3>There are no comments, yet!</h3>

    <div class = "post-route-options">
      <a href="/create/comment/{{post.id}}/{{g.user.id}}" class = "post-option">Add Comment</a>
    </div>
  </div>

{% endif %}

</div>

  <!-- do not touch below -->
  {%endblock%}
</div>