{%extends "base.html"%} {%block title %} <title>Articles</title> {%endblock%}
<!-- page content here -->

{%block content%}
<h1 class="pg-header">Wordpress Articles</h1>

{% if articles%} {% for article in articles%}
<div class="wp-article shadow">
  <h1 class="article-title">{{article.title}}</h1>
  <p>
    <small
      >Published by: {{article.author.nice_name}} on {{article.modified}}</small
    >
  </p>

  <a href="{{article.short_URL}}">Link to Worpress Article</a>
  <br>
  <br>

  <blockquote>{{article.content|safe}}</blockquote>

  <div class="article-option-div">
    <a href="/camphub/create/comment/{{article.ID}}" class="art-option"
      >Add CampHub Comment</a
    >
    <a
      href="https://wordpress.com/camphub/home/camphub2022"
      target="_blank"
      class="art-option"
      >Add WordPress Comment</a
    >
    <a href="/wordpress/camphub/article/{{article.ID}}" class="art-option"
      >See All Comments</a
    >
  </div>
</div>
{%endfor %}

{% else %}
<div class="wp-article">
  <h1>No posts, yet!</h1>
    <a href="/create/post/{{g.user.id}}">Make a Camphub Post</a>
</div>
{% endif%}

<!-- do not touch below -->
{%endblock%}
