{%extends "base.html"%} {%block title %}
<title>Camphub Comments</title> {%endblock%}
<!-- page content here -->

{%block content%} {% if g.user%}

<div>
  <h1>Camphub Comments - All</h1>

  {%if all_comments%} {% for comment in all_comments%}
  <div class="user-comment">
    <p><small>Published by: {{comment.comment_user_id}}</small></p>
    <blockquote>{{comment.content}}</blockquote>

    {%endfor%} {%else%}
    <h2>No comments yet!</h2>
    <h3><a href="/create/comment">Make a comment here at CampHub</a></h3>
    <h4>
      <a href="https://wordpress.com/home/camphub2022"
        >Create Comment in Wordpress</a
      >
    </h4>

    <a href="/camphub/posts">Return to CampHub Posts</a>
    {%endif%}
  </div>

  <!-- not auth user -->
  {%else%}
  <p>Please create an account or sign in to view blogs.</p>
  <a href="/signup">Sign Up</a>
  {%endif%}

  <!-- do not touch below -->
  {%endblock%}
</div>
